/*css home*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px
}

li a:hover {
    background-color: #111;
}
div
{
border-radius: 5px;
background-color: #333;
height: 40px;
width: 150px;
margin: auto;
text-align: center; 
text-decoration: none; 
color: white;
}
span
{
    font-size: 30px;
    text-decoration: none; 
    color: #F8F8FF;
    font-weight: bold; 
    font-family: impact, sans-serif; 
} 
h1
{ 
    font-size: 45px;
	font-family: Georgia; 
}
h2 
{
font-size: 45px; 
}
p
{
    font-size: 30px; 
    text-align: center; 
    color: white; 
	text-decoration: none;
}

img
{
width: 190px;
}

.home
{
font-family: courier new;  
color: white; 
}

.about
{
font-family: courier new; 
margin: 20px; 
color: white; 
}
#footer
{
font-size: 30px;
width: 100%;
position: fixed;
left: 0;
bottom: 0; 
}
#faces 
{
display: inline;
width: 240px; 
}
#couples
{
display: inline; 
width: 240px; 
}
#friends
{
display: inline;
width: 240px;
}
#home
{
display: block;
margin-left: auto;
margin-right: auto;
width: 250px;
}
#location
{
margin-top: 50px;
color: white; 
}
#me 
{
width:800px;
margin-left: auto;
margin-right: auto; 
margin-top: 50px; 
display: block;
border: 4px solid black;
}
#map
{
margin-left: auto;
margin-right: auto; 
display: block;
border: 5px solid black; 
}
#watermark
{
margin-left: auto;
margin-right: auto; 
display: block;
}
body
{
    background: url("IMG_1539.jpg");
    background-size: 200%; 
	background-repeat: no-repeat;
}
a 
{ 
color: white;  

}


